@model IEnumerable<SubCategoryView>

@{   
    ViewData["Title"] = "Sub Category";
    ViewData["PageTitle"] = "Sub Category";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd ">
            <div class="row">
                <div class="col-md-6">                    
                    <h3 class="text-uppercase" style="padding: 0px 20px;">
                        <i class="fa fa-cog"></i>
                        Sub Category
                    </h3>
                </div>
                <div class="col-md-5">
                    <div class="col-md-9">
                        <a asp-action="ExportExcel" asp-area="Admin" class="btn btn-success" title="Export Excel" style="margin: 15px 85%;">
                            <i class="fa fa-file-excel-o"></i>                        
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a asp-action="Create" asp-area="Admin" class="btn btn-primary" title="Create New" style="margin: 15px;">
                            Add New
                        </a>
                    </div>                    
                </div>
                @* <div class="col-md-5">                    
                    @Html.ActionLink("Add New", "Create", null, new { Area = "Admin" }, new{ @class = "btn btn-primary", @Title="Create New", @style="margin: 15px 85%;" })
                </div> *@
            </div>
            <hr/>
            <div class="panel-body">                
                <div class="table-scrolled">                                        
                    <table class="example display table table-hover dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubCategoryName)
                                </th>                                
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Select((x, i) => new
                                                                {
                                                                    Data = x,
                                                                    Index = i +
                                                                    1
                                                                }))
                            {
                                <tr>
                                    <td>@item.Index</td>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Data.CategoryName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.SubCategoryName)
                                    </td>                                    
                                    <td>
                                        <img src="@item.Data.ImageUrl" height="50" width="50" alt="SubCategory"/>
                                    </td>
                                    <td>
                                        

                                        <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Data.Id" class="btn btn-add btn-sm" title="Edit Record">
                                            <i class="fa fa-pencil"></i>
                                        </a> |
                                        <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Data.Id" class="btn btn-primary btn-sm" title="View Details">
                                            <i class="fa fa-info-circle"></i>
                                        </a> |
                                        <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Data.Id" class="btn btn-danger btn-sm" title="Delete Record"
                                            onclick="return DeleteConfirm();">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $(".Master").addClass("active");
        });
    </script>
}
