@model IEnumerable<MainBanner>

@{   
    ViewData["Title"] = "Main Banner";
    ViewData["PageTitle"] = "Main Banner";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-bd ">
            <div class="row">
                <div class="col-md-6">                    
                    <h3 class="text-uppercase" style="padding: 0px 20px;">
                        <i class="fa fa-cog"></i>
                        Main Banner
                    </h3>
                </div>
                <div class="col-md-5">                    
                    @Html.ActionLink("Add New", "Create", null, new { Area = "Admin" }, new{ @class = "btn btn-primary", @Title="Create New", @style="margin: 15px 85%;" })
                </div>
            </div>
            <hr/>
            <div class="panel-body">
                <div class="table-scrolled">
                    <table class="example display table table-hover dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BannerTitle)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.RedirectedUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BannerUrl)
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Select((x, i) => new
                                                                {
                                                                    Data = x,
                                                                    Index = i +
                                                                    1
                                                                }))
                            {
                                <tr>
                                    <td>@item.Index</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.BannerTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.RedirectedUrl)
                                    </td>
                                    <td>
                                        <img src="/mainbanner/@item.Data.BannerUrl" height="100" width="300" alt="Banner"/>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-action="Edit" asp-route-id="@item.Data.Id" class="btn btn-add btn-sm" title="Edit Record">
                                            <i class="fa fa-pencil"></i>
                                        </a> |
                                        <a asp-area="Admin" asp-action="Details" asp-route-id="@item.Data.Id" class="btn btn-primary btn-sm" title="View Details">
                                            <i class="fa fa-info-circle"></i>
                                        </a> |
                                        <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.Data.Id" class="btn btn-danger btn-sm" title="Delete Record"
                                            onclick="return DeleteConfirm();">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>    
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $(".Master").addClass("active");
        });
    </script>
}
